
.main{
	width: 1000px;
	margin: auto;
	display: none;
}
.container{
	width: 800px;
	margin: auto;
	overflow: auto;
	
	
}
body{
	margin: 0 !important;
	height: 100%;
	position: relative;

}
html{
	height: 100%;
}
.game-info{
	font-size: 14pt;
	padding: 10px;
	width: 200px;
	margin: auto;
	background-color: #f0f0f0;
	color: #ff0000;

}
.contents{
	margin: 2px;
	padding: 30px;
	font-size: 18pt;
	border: none;

	background-color: #f0f0f0;
	color: #000;
	cursor: pointer;
	float: left;
}
.contents:focus{
	outline: none;
}
.ai {
	background-color: #f09090;
}
.main-row{
	margin-left: 20px;
	float: left;
}
.description{
	border: 1px dashed #666;
}
.text{
	font-size: 22pt;
	font-weight: 300;
}
.center{
	position: relative;
	top: 50%;
	text-align: center;
}
.animated{

	opacity: 0;
	transition: all 0.5s ease 0.2s;
}
.animation{
	opacity: 1;
	transform: translateY(20px);
}
.story-container{
	height: 100%;
	width: 100%;
	background: #f0f0f0;
}
.page{
	position: relative;
	height: 100%;
}
.page2{
	color: #fff;
	background-image: url(./pictures/bg2.jpg);
	background-size: cover;
}